<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>new user page</title>
</head>
<body>
<p style="text-align:center">&nbsp;</p>

<div style="background:#eeeeee; border:1px solid #cccccc; padding:5px 10px">
    <form th:method="POST" th:object="${user}" th:action="@{/new_user}">
        <p style="margin-left:25px; text-align:center">
            <label for="name">Имя &nbsp;</label>
            <input id="name" name="username" type="text" th:field="*{name}">
        </p>

        <p style="text-align:center">
            <label for="surname">Фамилия </label>
            <input id="surname" name="surname" type="text" th:field="*{surname}"></strong></p>

        <p style="margin-left:7px; text-align:center">
            <label for="age">Возраст</label>
            <input id="age" name="age" type="text" th:field="*{age}">
        </p>
        <p style="margin-left:50px; text-align:center">
            <input name="submit" type="submit" value="Сохранить">
        </p>
    </form>
</div>
</body>
</html>